<h1>Rate: {{currencyRate}} [PV/JPY]</h1>

<table class="table table-striped table-condensed">
  <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>人数</th>
      <th>個人平均月間PV</th>
      <th>グループPV</th>
      <th>グループキャッシュバック [JPY]</th>
      <th>個人報酬額 [JPY]</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>0</td>
      <td><span class="label label-primary">あなた</span></td>
      <td>{{me.number}}</td>
      <td><input ng-model="me.pv"> = 毎月約 {{ me.pv * currencyRate | number}} 円相当の日用品を購入</td>
      <td>{{me.calcGroupPv()}}</td>
      <td>{{me.calcCashback()}}</td>
      <td>{{me.calcIncentive()}}</td>
    </tr>
    <tr ng-repeat="distributor in children">
      <td>{{$index + 1}}</td>
      <td><span class="label label-default">{{$index + 1}}th child</span>
      </td>
      <td><input ng-model="distributor.number">
        <p ng-if="$first" class="help-block">
        あなたが<b>直接</b>招待した人数
        </p>
        <p ng-if="!$first" class="help-block">
        <span class="label label-default">{{$index}}th child</span> が招待した<b>平均</b>人数
        </p>
      </td>
      <td><input ng-model="distributor.pv"> = 毎月約 {{ distributor.pv * currencyRate | number}} 円相当の日用品を購入</td>
      <td>{{distributor.calcGroupPv()}}</td>
      <td>{{distributor.calcCashback()}}</td>
      <td>{{distributor.calcIncentive()}}</td>
    </tr>
  </tbody>
</table>

<button type="button" ng-click="addChild()"    class="btn btn-primary">Add children</button>
<button type="button" ng-click="removeChild()" class="btn btn-warning">Remove children</button>
